/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/xdebug
/laravel-ide-helper
michellekesel.com
michellekesel.com.pub
/.idea
